*{
    padding: 0;
    margin: 0;
}

.part1{
    background-image: url("img.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.banner{
    height: 66px;
    width: 100%;
    background-color: rgba(17, 17, 17, .75);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.banner-left{
    width: 300px;
    height: 66px;
    position: relative;
}

.banner-left img{
    position: absolute;
    top: 19px;
    left: 66px;
}

a{
    text-decoration: none;
    color: white;

}

.banner-center a{
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.banner-center{
    position: relative;
    left: -50px;
}

.banner-center a::before{
    background-color: rgb(105, 224, 255);
    width: 100%;
    height: 5px;
    content: "";
    position: absolute;
    left: 0;
    top: -21px;
    display: none;
}

.banner-center a:first-child::before{
    display: block;
}

.banner-center a:hover::before{
    display: block;
}

.banner-center:hover a:first-child::before{
    display: none;
}

.banner-center a:first-child{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.banner-center a:hover{
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
    color: #fff;
}

.banner-right{
    position: absolute;
    right: 40px;
    display: flex;
    align-items: center;
}

.banner-right-login img{
    width:27px;
    height:27px;
    margin-left: 18px;
}

.banner-right-login{
    margin-left: 18px;
}

.banner-right *{
    vertical-align: middle;
}

.banner-right-love img{
    width:27px;
    height:27px;
    margin-left: 18px;
}